<div class="dashboard">
  <div class="grid-dash">
    <div class="card">agent</div>
    <div class="card">customer</div>
    <div class="card">department</div>
    <div class="card">project</div><br><br><br>
    <div class="card">new Ticket</div>

    <div class="icon-card icon-1">
      <i class="fas fa-exclamation-triangle"></i>
      <div>overdue</div>
    </div>

    <div class="icon-card icon-2">
      <i class="fas fa-tasks"></i>
      <div>unassigned</div>
    </div>

    <div class="icon-card icon-3">
      <i class="fas fa-question-circle"></i>
      <div>Unsolved</div>
    </div>
  </div>
</div>


