<div class="container">
    <div class="form-container">
        <div class="login">
            <form class="login-form">
                <div class="input-filed">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="email ">
                </div>
                <div class="input-filed">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="password">
                </div>
                <button class="btn solid"><i class="fa-solid fa-right-to-bracket"></i>login</button>

            </form>

        </div>

    </div>
    <div class="panel-container">
        <div class="panel-left-panel">
            <div class="content">
                <h3> New here ? </h3>
            </div>
            <img src="assets/images/avatar.jpg" />


        </div>
        <div class="panel-right-panel">
            <div class="content">
                <h3> One of us ? </h3>
            </div>
            <img src="assets/images/avatar.jpg" />


        </div>
    </div>

</div>