<div class="container">
    <div class="form-container">
        <div class="titles">
            <div class="login">
                <div class="login-header">
                    <h2>Welcome Back</h2>
                    <p>Please enter your credentials to login</p>
                </div>
                <form class="login-form" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" placeholder="Email" required>
                        </div>
                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="Password" required>
                        </div>
                        <button class="login-btn" type="submit">
                            <i class="fa-solid fa-right-to-bracket"></i> Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>