<div class="calendar-container">
  <div class="calendar-header">
    <h3>Find a time to meet us</h3>
    <div class="month-selector">
      <button (click)="previousMonth()">&lt;</button>
      <span>{{ monthName | titlecase }} {{ year }}</span>
      <button (click)="nextMonth()">&gt;</button>
    </div>
    <br>
  </div>

  <table class="calendar-table">
    <thead>
      <tr>
        <th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks">
        <td *ngFor="let day of week">
          <span 
            *ngIf="day > 0" 
            (click)="selectDay(day)" 
            [class.selected]="day === selectedDay"
            class="day">
            {{ day }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
