<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />



<div class="container">
  <div class="contact-info">
    <h2>Contact Us</h2><br><br>
    <br>
    <br>
    <ul>
      <li> <i class="fa-solid fa-map-location"></i> Rayhana Hay Riadh <br> 4010 sousse</li> <br>
      <li><i class="fas fa-envelope"></i> sindibadgrp.com</li><br>
      <li><i class="fas fa-phone"></i> +33619530144</li><br>
      <br>
      <ul class="social-icons">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </ul>

    </ul>
  </div>

  <div class="contact-form">
    <h2 class="form-title">Get in Touch</h2>
    <p class="form-subtitle">Feel free to drop us a line below!</p>
    <form class="contact-form-container">
      <div class="form-group">
        <input type="text" placeholder="Your name" required>
      </div>
      <div class="form-group">
        <input type="email" placeholder="Your email" required>
      </div>
      <div class="form-group">
        <textarea placeholder="Type your message here..." required></textarea>
      </div>
      <div class="form-submit">
        <button type="submit">Send </button>
      </div>
    </form>
  </div>
</div>