<div class="sidebar" [class.open]="isDropdownOpen">
  <h3>HelpDesk</h3>
  <hr>
  <ul>
    <li class="dashboard">
      <a routerLink="/dashboard" routerLinkActive="router-link-active">
        <i class="fa-solid fa-gauge"></i>
        Dashboard
      </a>
    </li>
    <li class="users">
      <a routerLink="/users" routerLinkActive="router-link-active">
        <i class="fa-solid fa-users"></i>
        Users
      </a>
    </li>

    <li class="ticket" [class.active]="isDropdownOpen">
      <div class="ticket-header" (click)="toggleDropdown()">
        <span>
          <i class="fa-solid fa-ticket"></i>
          Tickets
        </span>
        <i class="fa-solid fa-chevron-down"></i>
      </div>

      <ul class="liste">
        <li>
          <a routerLink="/tickets/create" routerLinkActive="router-link-active">
            Create Ticket
          </a>
        </li>
        <li>
          <a routerLink="/tickets/my" routerLinkActive="router-link-active">
            My Tickets
          </a>
        </li>
      </ul>
    </li>

    <li class="categories">
      <a routerLink="/categories" routerLinkActive="router-link-active">
        <i class="fa-solid fa-tags"></i>
        Categories
      </a>
    </li>
  </ul>
</div>